*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.landing{
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.distortion{
    width: 500px;
    height: 100vh;
    align-self: flex-end;
}

.distortion canvas{
    width: 100% !important;
    height: 100% !important;
}

.intro{
    align-self: center;
}

.intro h2{
    font-size: 50px;
}

.intro p{
    font-size: 24px;
}